:root {
    --common-black-text: rgba(33, 33, 33, 1);
    --blue-text: rgba(33, 150, 243, 1);
    --white-text: rgba(255, 255, 255, 1);
    --grey-text: rgba(117, 117, 117, 1);
    --grey-address-text: rgba(255, 255, 255, 0.6);
    --grey-bcg: rgba(245, 244, 250, 1);
    --grey-clients-border: rgba(175, 177, 184, 1);
    --grey-socials: rgba(175, 177, 184, 1);
    --animation: background-color 5200ms linear;
    --cub: cubic-bezier (0.4, 0, 0.2, 1);
    --transition: transform 250ms cubic-bezier (0.4, 0, 0.2, 1);
}